<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let item of dataReport">
      <ion-card class="welcome-card" *ngIf='item.idUsu === this.myEmail'>
        
          <img src="/assets/shapes.svg" alt="" />
          <ion-card-header>
            <ion-card-title>Tipo de evento: {{item.type}} </ion-card-title>
            <h5>Descripcion : {{item.desc}}</h5>
          </ion-card-header>
          <ion-card-content>
            <p>Fecha de inicio: {{item.iniDate}} Fecha de fin: {{item.finDate}}</p>
          </ion-card-content>
        </ion-card>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/event">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>