<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Evento: Fiesta Infantil</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Fiesta infantil que se realizara </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Evento: Instalacion de una regadera</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Venida de un maistro que se realizara tal fecha </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Evento: Delivering</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Uber arrives for delivering food</p>
      </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/event">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
