<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
		
	<ion-row justify-content-center>
			<img src="./assets/banner.jpg" alt="" style="background-size: cover;">
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
        
			</div>
			<div padding>
				<ion-item>
					<ion-input type="text" placeholder="Email" [(ngModel)]="inputEmail" name="inputEmail"></ion-input>
				</ion-item>

					<ion-item>
						<ion-input type="password" placeholder="Password" [(ngModel)]="inputPass" name="inputPass"></ion-input>
					</ion-item>
				</div>

			<div padding>
				<ion-button size="large" (click) = "register()" expand="block">Login</ion-button>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>

</ion-content>
