<ion-header>
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-title>Evento: Orchata</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Que se arme la machaca </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-title>Evento: Peda</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> Fiesta destructiva</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-title>Evento: Cumpleaños de Martín</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Va a haber perico </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Evento: Reunion negocios</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Dudas acerca del proyecto </p>
      </ion-card-content>
    </ion-card>

  <ion-content>